$primary: #985cff;
$primary-light: #ab7bff;
$primary-gradient: linear-gradient(180deg, rgba(153,93,255,1) 0%, rgba(75,27,157,1) 100%);

$font-title: 'Be Vietnam', sans-serif;
$font-text: 'Raleway', sans-serif;

$secondary: #d83f86;

$bg-color: #202a51;
$dark: #444444;

$light: #b5b5b5;
