/* You can add global styles to this file, and also import other style files */
@import './variables';

@import url('https://fonts.googleapis.com/css?family=Be+Vietnam|Raleway&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar
{
	width: 6px;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
	background-color: $light;
}



app-root {
  width: 100vw;
  height: 100vh;
  display: block;
}

#app-container {
  width: 100%;
  height: 100%;
  display: block;
}

body {
  background: $bg-color;
  font-family: $font-text !important;
  overflow-x: hidden !important;
}
.swal2-popup.swal2-toast.toast-overflow.swal2-show
{
  overflow: hidden !important;
}


.mf-btn-primary {
  color: #fff;
  background: $primary;  
  border: none;

  padding: 7px 15px;
  border-radius: 50px;

  font-weight: 700;

  transition: all ease-out 0.25s;

  text-decoration: none;
  
  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}

.mf-btn-secondary {
  color: $primary;
  background: #fff;

  &:hover {
    color: $primary-light;
    background: darken(#fff, 10);
    text-decoration: none;
    text-decoration: none;
  }
  border: none;

  padding: 7px 15px;
  border-radius: 50px;

  font-weight: 700;

  transition: all ease-out 0.25s;

  text-decoration: none;

  &:focus {
    outline: none;
  }
}

.mf-input {
  padding: 12px 20px;
  width: 100%;

  border-radius: 20px;
  border: none;

  color: $primary;

  font-weight: bold;
  font-size: 1.1rem;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $primary-light;
    
  }
}