/* You can add global styles to this file, and also import other style files */
@import './variables';

@import url('https://fonts.googleapis.com/css?family=Be+Vietnam|Raleway&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

app-root {
  width: 100vw;
  height: 100vh;
  display: block;
}

#app-container {
  width: 100%;
  height: 100%;
  display: block;
}

body {
  overflow-x: hidden !important;
  font-family: $font-text !important;
}
.swal2-popup.swal2-toast.toast-overflow.swal2-show
{
  overflow: hidden !important;
}

.mf-btn-primary {
  color: #fff;
  background: $primary;
}

.mf-btn-secondary {
  padding: 7px 15px;
  border-radius: 50px;

  color: $primary;
  background: #fff;
  font-weight: 700;
}