<div id="landing-page">
  <h1 class="title">
    Share Experiences
  </h1>

  <h3 class="subtitle">Post anything and chat with everyone</h3>

  <div class="posts-images">
    <a [routerLink]="['/login']">
      <img src="../../../assets/images/posts/Component 1 – 1.png" alt="">
    </a>
    <a [routerLink]="['/login']">
      <img src="../../../assets/images/posts/Component -1.png" alt="">
    </a>
    <a [routerLink]="['/login']">
      <img src="../../../assets/images/posts/Component -2.png" alt="">
    </a>
    <a [routerLink]="['/login']">
      <img src="../../../assets/images/posts/Component -3.png" alt="">
    </a>
    <a [routerLink]="['/login']">
      <img src="../../../assets/images/posts/Component -4.png" alt="">
    </a>
</div>