@import '../../../variables';

::ng-deep #navbar {
  display: flex;
}

#landing-page {

  padding-top: 60px; // Navbar spacing
  background: $primary;

  background: url('../../../assets/images/bg-circle.png') no-repeat -150px 120px, 
              url('../../../assets/images/bg-shape.png') no-repeat right bottom, 
              $primary-gradient;

  height: 100%;
  
  text-align: center;
  color: white;
  .title {
    margin: 5rem 0 3rem 0;
  }

  .posts-images {
    width: 100vw;
    margin-top: 8rem;

    display: flex;
    justify-content: space-evenly;


    a {

    }
  }
}