@import '../../../variables';

.user-profile-item {
  margin: 1rem 0 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'left right';
  align-items: center;

  .left-side {
    grid-area: 'left';
    .users_photo {
      width: 40px;
      height: auto;
      border-radius: 50%;
      margin-right: 10px;
    }
  
    .username {
      display: inline-block;
      color: $dark;
      &:hover {
        color: $primary-light;
        text-decoration: none;
      }
    }
  }

  .right-side {
    grid-area: 'right';
    justify-self: end;
    cursor: pointer;

    div {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 32px;
      height: 32px;
      border: 1px solid $light;
      border-radius: 8px;

      :hover {
        border-color: $primary-light;

        i {
          color: $primary;
        }
      }
    }
  }
}