<div id="register">
  <form class="form-signup" (submit)="submitted()">
    <a [routerLink]="'/welcome'" class="branding-link">
      <h1 class="branding">MEDIAFAN</h1>
    </a>
    <input name="email" [(ngModel)]="email" (onKeyup)="typingEmail()" type="email" id="inputEmail" class="mf-input" placeholder="Email" required autofocus>
    <input name="username" [(ngModel)]="username" (onKeyup)="typingUsername()" type="text" id="inputUsername" class="mf-input" placeholder="Username" required>
    <input name="password" [(ngModel)]="password" (onKeyup)="typingPassword()" type="password" id="inputPassword" class="mf-input" placeholder="Password" required>
    <button class="mf-btn-secondary" type="submit">Sign up</button>
    <a [routerLink]="['/login']" class="link">Sign In</a>
  </form>
</div>