<div id="login">
  <form class="form-signin" (submit)="onSubmit()">
    <a [routerLink]="'/welcome'" class="branding-link">
      <h1 class="branding">MEDIAFAN</h1>
    </a>
    <input [(ngModel)]="username" type="email" id="inputEmail" name="inputEmail" class="mf-input" placeholder="Email or Username" required autofocus standalone>
    <input [(ngModel)]="password" type="password" id="inputPassword" name="inputPassword" class="mf-input" placeholder="Password" required standalone>
    <button class="mf-btn-secondary" type="submit">Sign in</button>
    <a [routerLink]="['/signup']" class="link">Sign Up</a>
  </form>
</div>