@import '../../../variables';

#navbar {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 60px;
  
  padding: 0 20px;

  #branding {
    padding: 0;
    letter-spacing: 2px;

    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 40px;
    color: white;
    font-weight: 700;

    font-family: $font-title;
  }
  
  .profile_photo {  
    height: 30px;
    width: auto;
    border-radius: 50%;
  }

  #nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

    .links-nav {
      display: flex;
      justify-content: center;
      align-items: center;

      .chat {
        margin-right: 1rem;
        i {
          color: white;
          font-size: 30px;
        }
      }

      .dropdown {
        .userButton {
          cursor: pointer;
    
          .profile_photo {
            height: 40px;
            width: 40px;
          }
    
          .username {
            color: #fff;
          }
    
          &::after {
            color: white;
          }
        }
    
        .dropdown-menu {
          background: $primary-light; 
          left: unset;
    
          top: 110%;
          right: 0px;
    
          .dropdown-item {
            color: #fff;
    
            &:hover {
              background: $primary;
            }
    
            &:last-child {
              cursor: pointer;
            }
    
            &.active {
              background: $primary;
            }
          }
        }
      }
    }

    .links-auth {
      a {
        margin-right: 30px;
      }


    
    }
  }
}

