@import '../../../variables';

.post {
  .text-level-{
    font-weight: bold;
    &1 {
      font-size: 2.5rem;
    }
    &2 {
      font-size: 2rem;
    }
    &3 {
      font-size: 1.75rem;
    }
    &4 {
      font-size: 1.5rem;
    }
    &5 {
      font-size: 1.25rem;
    }
    &6 {
      font-size: 1rem;
    }
  }
  
  .image {
    width: 100%;
  }

  
  .md-card-header {
    height: 45px;
    display: flex;
    align-content: center;
    .post-author {
      align-self: center;
      .authors {
        &_photo {
          margin: 0 1rem;
          width: 35px;
          height: 35px;
          border-radius: 50%;
        }
        &_name {
          align-self: center;
          margin-bottom: 0;
          display: inline-block;
          color: white;
          
          &:hover {
            color: $primary-light;
            text-decoration: none;
          }
        }
      }
    }
  }

  .star {
    span {
      color: white;
      font-size: 1.1rem;
      margin: 0 0.5rem;
      float: right;
    }
  }

  .mf-card-text {
    margin-bottom: 5px;
  }
}
