<div class="post mf-card">
  <!-- <button class="btn btn-danger delete-post" *ngIf="user.username == post.author" (click)="deletePost()">
    x
  </button> -->
  <div class="md-card-header">
    <a class="post-author" [routerLink]="['/', post.author.username]">
        <img src="{{ post.author.profile_photo }}" alt="authors_photo" class="authors_photo">
        <p class="authors_name">{{ post.author.username }}</p>
    </a>
  </div>

  <div class="mf-card-content">
    <ng-container *ngFor="let block of post.content.blocks" [ngSwitch]="block.type">

      <div *ngSwitchCase="'header'" class="mf-card-text text-level-{{block.data.level}}">
        {{ block.data.text }}
      </div>

      <p class="mf-card-text" *ngSwitchCase="'paragraph'" [innerHTML]="block.data.text"></p>

      <div class="image" *ngSwitchCase="'image'">
        <img class="image" src="{{ block.data.file.url }}" alt="{{ block.data.caption}}">
        <p class="mf-card-text image-caption">{{ block.data.caption }}</p>
      </div>
      
      <blockquote *ngSwitchCase="'quote'" class="blockquote mf-card-text text-center my-5">
        <p class="mb-0">{{ block.data.text }}</p>
        <footer class="blockquote-footer"><cite title="{{ block.data.caption }}">{{ block.data.caption }}</cite></footer>
      </blockquote>

    </ng-container>
  </div>

  <div class="mf-card-footer">
      <span (click)="addStar()" class="float-left star"><span>{{ nStars }}</span><svg [ngStyle]="{fill: starred ? '#f0ed4f' : 'gray'}" width="24" height="24" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
      </span>
      <!-- <p (click)="watchComments()" class="text-muted clear-both">Watch comments</p> -->
  </div>
</div>